{%extends 'base.html'%} {% block content %}
<div class="row">
  <div class="col-12">
    <a href="addnew" class="btn btn-primary"> Agregar Tarea </a>

    <br /><br />
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tarea</th>
          <th width="200">Accion</th>
        </tr>
      </thead>
      <tbody>
        {% for rs in users %}
        <tr>
          <td>{{rs.id}}</td>
          <td>{{rs.tarea}}</td>
          <td>
            <a href="edit/{{rs.id}}" class="btn btn-success">Editar</a>
            <a href="#" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
